@import "tailwindcss";

@theme {
  --font-instrument-serif: "Instrument Serif", serif;
  --font-noto-serif: "Noto Serif", serif;
  --font-cutive-mono: "Cutive Mono", monospace;
}

html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  z-index: 9999;
  pointer-events: none;
  background-image: url("/noise.svg");
  mix-blend-mode: overlay;
}
